### Solutions for https://github.com/Automating-GIS-processes-2022/Exercise-1/blob/main/Exercise-1-problem-3-4.ipynb

In [1]:
from shapely.geometry.base import BaseGeometry
from shapely import Point, LineString, Polygon
from typing import Union
import pandas as pd

### Problem 3

#### 1

In [12]:
data = pd.read_csv('data/travel_times_2015_helsinki.txt', sep=';', usecols=['from_x', 'from_y', 'to_x', 'to_y', 'total_route_time'])

In [13]:
# ADD YOU OWN CODE HERE
print(data.shape)

(14643, 5)

In [14]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION
data.head()

      from_x     from_y       to_x       to_y  total_route_time
0  24.970438  60.311917  24.856034  60.399941             125.0
1  24.970438  60.311917  24.860568  60.400014             123.0
2  24.970438  60.311917  24.865102  60.400086             125.0
3  24.970438  60.311917  24.869636  60.400159             129.0
4  24.970438  60.311917  24.842582  60.397478             118.0

#### 2

In [15]:
data = data[['from_x', 'from_y', 'to_x', 'to_y']]

In [16]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION
assert list(data.columns) == ["from_x", "from_y", "to_x", "to_y"], "Error: `data` does not (or not only) contain the four columns it should"

#### 3

In [24]:
origin_points = data[['from_x', 'from_y']].apply(Point, axis=1).values.tolist()

In [25]:
destination_points = data[['to_x', 'to_y']].apply(Point, axis=1).values.tolist()

In [26]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION

# This test print should print out the first origin and destination coordinates in the two lists:
print("ORIGIN X Y:", origin_points[0].x, origin_points[0].y)
print("DESTINATION X Y:", destination_points[0].x, destination_points[0].y)

# Check that you created a correct amount of points:
assert len(origin_points) == len(data), "Number of origin points must be the same as number of rows in the original file"
assert len(destination_points) == len(data), "Number of destination points must be the same as number of rows in the original file"

ORIGIN X Y: 24.9704379 60.3119173
DESTINATION X Y: 24.8560344 60.3999406

### Problem 4

#### 1

In [40]:
def create_line(row: pd.Series) -> LineString:
    # Create a line using two points
    
    return LineString([
        Point(row['from_x'], row['from_y']),
        Point(row['to_x'], row['to_y']),
    ])

In [41]:
lines = data.apply(create_line, axis=1).values.tolist()

In [35]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION

# Test that the list has correct number of LineStrings
assert len(lines) == len(data), "There should be as many lines as there are rows in the original data"

#### 2

In [36]:
total_length = sum(line.length for line in lines)

In [37]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION

# This test print should print the total length of all lines
print("Total length of all lines is", round(total_length, 2))
assert round(total_length, 2) == 3148.57

Total length of all lines is 3148.57

#### 3

In [45]:
def create_od_lines(start_points: list[Point], finish_points: list[Point]) -> list[LineString]:
    # Create a list of lines based on two lists of points
    assert len(start_points) == len(finish_points), "Input lists should be of the same length"
    
    return [LineString([start_points[i], finish_points[i]]) for i in range(len(start_points))]

In [46]:
def calculate_total_distance(lines: list[LineString]) -> float:
    # Calculate the total length of lines in the provided list

    return sum(line.length for line in lines)

In [47]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION

# Create origin-destination lines
od_lines = create_od_lines(origin_points, destination_points)

# Calculate the total distance
tot_dist = calculate_total_distance(od_lines)

print("Total distance", round(tot_dist,2))
assert tot_dist == total_length

Total distance 3148.57